*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cal{
    width:20vw;
    height:75vh;
    border-radius: 28px;
    border: 8px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top{
    width: 100%;
    height:5%;
    border-top-right-radius: 28px;
    border-top-left-radius: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.time{
    font-size: 1rem;
}

.icon{
    width: 15px;
    height:15px;
}
.icon1{
    width: 19px;
    height: 19px;
}

.bottom{
    width: 100%;
    height: 55%;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(4,1fr);
    gap:5px;
}

.bottom-icon-ctn{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.middle{
    width: 100%;
    height: 40%;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 10px;
}

.middle-top, .middle-middle, .middle-bottom{
    width: 100%;
}

.middle-top{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-middle{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
}

.middle-bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}