*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cal{
    width:20vw;
    height:75vh;
    border-radius: 28px;
    border: 8px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top{
    width: 100%;
    height:5%;
    border-top-right-radius: 28px;
    border-top-left-radius: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.time{
    font-size: 1rem;
}

.icon{
    width: 15px;
    height:15px;
}
.middle{
    width: 100%;
    height: 40%;
    background-color: yellow;
}
.bottom{
    width: 100%;
    height: 55%;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
}